.main-contents {
  width: 100%;
  height: 100%;
}

.custom-navbar {
  /* background-color: #7efce7; */
}

.nav-btn {
  width: 100px;
}

#admin-login-button {
  margin-right: 10px;
  width: 100px;
}

.footer-container {
  margin-left: 90px;
  margin-right: 90px;
}

#footer-logo {
  width: 30px;
  height: auto;
  margin-left: 40px;
  margin-right: 5px;
}